<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="News,Information">
    <meta name="author" content="">
    <title>News</title>
    <!-- Css -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,700,700i,900" rel="stylesheet">
    <link href="~/Public/asset/css/responsive.css" rel="stylesheet">
    <link href="~/Public/asset/css/animation.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Public/owlcarousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Public/owlcarousel/assets/owl.theme.default.min.css">
    <link href="~/Public/asset/css/design.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/asset/css/slicknav.css">
    <link rel="stylesheet" href="~/Public/asset/css/superfish.css">
    <link href="~/Public/asset/css/style.css" rel="stylesheet">
    <!-- SIDE -->
</head>
<body>


    @RenderBody()
    <footer class="bg-dark footer1 padding-top-60">
        <div class="container-fluid">
            <div class="row margin-bottom-30">
                <div class="col-md-7 col-sm-4 margin-bottom-30 footer-info">
                    <a href="index.html"><img src="images/flogo.png" class="img-responsive" alt="" /></a>
                    <p>
                        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor
                        sit amet Lorem ipsum dolor sit amet
                    </p>
                    <span><i class="fa fa-map-marker"></i> AF Buisness House, CodeAcademy</span>
                    <span><i class="fa fa-envelope"></i> <a href="mailto:rizvanyh@code.edu.az">rizvanyh@code.edu.az></span>
                    <span><i class="fa fa-phone"></i> +994 55 942 46 14</span>
                </div>
                <div class="col-md-5 col-sm-4 margin-bottom-30 footer-follow">
                    <h5>bİzİ İzləyİn</h5>
                    <div class="footer-newsletter">
                        <form action="http://ckthemes.com/html/watcher/php/subscribe.php" id="invite1" method="POST">
                            <i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Emailiniz" class="e-mail" name="email" id="address1" data-validate="validate(required, email)">
                            <button type="submit">Abunə ol</button>
                        </form>
                        <div id="result1"></div>
                    </div>
                    <div class="footer-social margin-top-30">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>&copy; Copyright 2017 Watcher.com. Bütün hüquqlar qorunur.</p>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <ul class="footer-links">
                            <li><a href="Contact.html">Əlaqə</a></li>
                            <li><a href="terms.html">İstifadəçi Qaydaları</a></li>
                            <li><a href="privacy.html">Gizlilik</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="~/Public/js/index.js"></script>
    <script src="~/Public/js/jquery.slicknav.min.js"></script>
    <script src="~/Public/js/superfish.min.js"></script>
    <script src="~/Public/js/script.js"></script>
</body>
</html>
